<div
  class="py-5 px-4 flex items-center justify-between bg-white dark:bg-dark-gray md:hidden"
>
  <div class="flex items-center gap-4">
    <div><img src="assets/logo-mobile.svg" alt="logo-mobile" /></div>
    <div class="flex items-center gap-2">
      <p>Platform Launch</p>
      <img src="assets/icon-chevron-down.svg" alt="icon-chevron-down" />
    </div>
  </div>

  <div class="flex items-center gap-4">
    <div
      class="w-12 px-[18px] py-[10px] bg-main-purple bg-opacity-25 rounded-3xl"
    >
      <img
        src="assets/icon-add-task-mobile.svg"
        alt="icon-add-task-mobile"
        class="w-3 h-3"
      />
    </div>
    <div>
      <img
        src="assets/icon-vertical-ellipsis.svg"
        alt="icon-vertical-ellipsis"
      />
    </div>
  </div>
</div>
