<div class="flex w-full flex-col gap-2">
  <div *ngIf="label.length > 0">
    <p class="text-body-m text-medium-gray dark:text-white">{{ label }}</p>
  </div>
  <div
    class="py-2 px-4 rounded-[4px] border-opacity-25 border-[1px] flex items-center justify-between"
    [ngClass]="{
      'border-primary-light': isTyping && !error,
      'border-accent-light': !isTyping && !error,
      'border-red': error
    }"
  >
    <!-- Input field for text -->
    <input
      *ngIf="type !== 'textarea'"
      class="outline-none w-[99px] dark:bg-transparent dark:text-white"
      [type]="type"
      [placeholder]="placeholder"
      [formControl]="control"
      (focus)="toggleIsActive()"
      (blur)="toggleIsActive()"
      (input)="onInput($event)"
      [ngClass]="{ '!w-full': !error }"
    />

    <!-- Textarea field for multiline input -->
    <textarea
      *ngIf="type === 'textarea'"
      class="outline-none w-[99px] dark:bg-transparent dark:text-white"
      [placeholder]="placeholder"
      [formControl]="control"
      (focus)="toggleIsActive()"
      (blur)="toggleIsActive()"
      (input)="onInput($event)"
      [ngClass]="{ '!w-full': !error }"
    ></textarea>

    <!-- Error message -->
    <p class="text-body-l text-red" *ngIf="error">Can’t be empty</p>
  </div>
</div>
