<div
  class="fixed inset-0 flex items-center justify-center z-50"
  *ngIf="isOpen"
  (click)="closeModal()"
>
  <!-- Dark filter background -->
  <div
    class="absolute inset-0 bg-black opacity-50"
    (click)="closeModal()"
  ></div>

  <!-- Modal content -->
  <div
    class="relative w-[90%] md:w-[480px] bg-white dark:bg-dark-gray p-6 rounded-lg shadow-lg z-10"
    (click)="$event.stopPropagation()"
  >
    <div
      class="max-h-[600px] md:max-h-[650px] lg:max-h-[450px] overflow-y-scroll"
    >
      <ng-content></ng-content>
      <!-- Content will be inserted here -->
    </div>
    <!-- <div class="mt-4 flex justify-end">
      <button (click)="closeModal()" class="px-4 py-2 bg-red text-white rounded">
        Close
      </button>
    </div> -->
  </div>
</div>
