<div class="w-[280px]">
  <div class="flex items-center gap-3">
    <div
      class="w-[15px] h-[15px] rounded-full"
      [ngClass]="{
        'bg-todo': title.toLocaleLowerCase() === 'Todo'.toLocaleLowerCase(),
        'bg-main-purple':
          title.toLocaleLowerCase() === 'Doing'.toLocaleLowerCase(),
        'bg-done': title.toLocaleLowerCase() === 'Done'.toLocaleLowerCase()
      }"
    ></div>
    <div class="text-heading-s text-medium-gray">
      {{ title | uppercase }} ({{ tasks.length }})
    </div>
  </div>

  <!-- CDK Drop List for drag-and-drop -->
  <div
    cdkDropList
    class="mt-6 flex flex-col gap-5"
    [cdkDropListData]="tasks"
    (cdkDropListDropped)="onTaskDrop($event)"
  >
    <!-- Loop through tasks and display each one -->
    <div
      class="py-[23px] px-4 bg-white dark:bg-dark-gray rounded-lg shadow-md flex flex-col gap-2 cursor-pointer"
      *ngFor="let task of tasks"
      (click)="openTaskModal(task)"
      cdkDrag
    >
      <p class="text-heading-m text-black dark:text-white">
        {{ task.title }}
      </p>
      <p class="text-body-m text-medium-gray">
        {{ getCompletedSubtasksCount(task) }} of
        {{ getTotalSubtasksCount(task) }} subtasks
      </p>
    </div>
  </div>
</div>
