<div
  class="w-full bg-light-gray h-dvh dark:bg-very-dark-grey relative transition custom-scrollbar"
>
  <!-- drop filter dark background for models -->
  <div
    class="min-w-full w-auto h-full bg-black opacity-50 absolute z-50"
    *ngIf="backDropFilterLarge"
  ></div>

  <!-- Modal for view-task -->
  <app-modal
    [isOpen]="(modalService.modalState$ | async) === 'view-task'"
    (close)="closeModal()"
    *ngIf="selectedTask"
  >
    <div class="flex flex-col gap-6">
      <div class="flex items-center justify-between">
        <p class="text-heading-l text-black dark:text-white">
          {{ selectedTask.title }}
          <!-- Display the selected task title -->
        </p>
      </div>
      <div class="">
        <p class="text-body-l text-medium-gray">
          {{ selectedTask.description }}
          <!-- Display the selected task description -->
        </p>
      </div>
      <div>
        <p class="text-body-m text-medium-gray">
          Subtasks ({{ completedSubtasksCount }} of {{ totalSubtasksCount }})
        </p>
        <div class="flex flex-col gap-2 mt-4">
          <div *ngFor="let subtask of selectedTask?.subtasks">
            <app-subtask-checkbox
              [title]="subtask.title"
              [isChecked]="subtask.isCompleted"
            ></app-subtask-checkbox>
          </div>
        </div>
      </div>
      <div>
        <app-dropdown [value]="selectedTask.status" [options]="(columnsNames$ | async) ?? []" [label]="'Current Status'"></app-dropdown>
      </div>
    </div>
  </app-modal>

  <!-- Modal for add-column -->
  <app-modal
    [isOpen]="(modalService.modalState$ | async) === 'add-column'"
    (close)="modalService.closeModal()"
  >
    <form [formGroup]="columnForm" (ngSubmit)="onSubmitColumn()">
      <div class="flex flex-col gap-6">
        <div>
          <p class="text-heading-l text-black dark:text-white">
            Add New Column
          </p>
        </div>
        <div>
          <app-input
            [label]="'Column'"
            [type]="'text'"
            [placeholder]="'Enter column name'"
            [control]="columnNameControl"
            [error]="!!(titleControl.invalid && titleControl.touched)"
          ></app-input>
        </div>
        <div>
          <app-buttonse
            [text]="'Create Column'"
            [additionalClasses]="'!text-white !bg-main-purple'"
            type="submit"
          ></app-buttonse>
        </div>
      </div>
    </form>
  </app-modal>

  <!-- Modal for add-task -->
  <app-modal
    [isOpen]="(modalService.modalState$ | async) === 'add-task'"
    (close)="modalService.closeModal()"
  >
    <form [formGroup]="taskForm" (ngSubmit)="onSubmitTask()">
      <div class="flex flex-col gap-6">
        <div>
          <p class="text-heading-l text-black dark:text-white">Add New Task</p>
        </div>
        <div>
          <app-input
            [label]="'Title'"
            [type]="'text'"
            [placeholder]="'e.g. Take coffee break'"
            [control]="titleControl"
            [error]="!!(titleControl.invalid && titleControl.touched)"
          ></app-input>
        </div>
        <div>
          <app-input
            [label]="'Description'"
            [type]="'textarea'"
            [placeholder]="'e.g. Describe the task here...'"
            [control]="descriptionControl"
          ></app-input>
        </div>
        <div>
          <p class="text-body-m text-medium-gray">Subtasks</p>
          <div class="mt-2 flex flex-col gap-3">
            <div
              *ngFor="let subtask of subtasksControl.controls; let i = index"
              class="w-full flex items-center justify-between"
            >
              <div class="w-[90%]">
                <app-input
                  [type]="'text'"
                  [placeholder]="'e.g. Make coffee'"
                  [control]="getSubtaskControl(i)"
                  [error]="
                    !!(
                      getSubtaskControl(i).invalid &&
                      getSubtaskControl(i).touched
                    )
                  "
                ></app-input>
              </div>
              <div class="w-[10%] flex items-center justify-center">
                <img
                  src="assets/icon-cross.svg"
                  alt="icon-cross"
                  class="cursor-pointer"
                  (click)="removeSubtask(i)"
                />
              </div>
            </div>
            <div>
              <app-buttonse
                [text]="'Add New Subtask'"
                [additionalClasses]="''"
                (click)="addSubtask()"
                [type]="''"
              ></app-buttonse>
            </div>
          </div>
        </div>
        <div>
          <app-dropdown
            [control]="statusControl"
            [label]="'Status'"
            [options]="(columnsNames$ | async) ?? []"
          ></app-dropdown>
        </div>
        <div>
          <app-buttonse
            [text]="'Create Task'"
            [additionalClasses]="'!text-white !bg-main-purple'"
            type="submit"
          ></app-buttonse>
        </div>
      </div>
    </form>
  </app-modal>

  <!-- Modal for add-board -->
  <app-modal
    [isOpen]="(modalService.modalState$ | async) === 'add-board'"
    (close)="modalService.closeModal()"
  >
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-6">
        <div>
          <p class="text-heading-l text-black dark:text-white">Add New Board</p>
        </div>
        <div>
          <!-- Board Name Input -->
          <app-input
            [label]="'Board Name'"
            [placeholder]="'Enter board name'"
            [type]="'text'"
            [control]="nameControl"
            [error]="!!(nameControl.invalid && nameControl.touched)"
          ></app-input>
        </div>
        <!-- Columns Section -->
        <div>
          <p class="text-body-m text-medium-gray">Columns</p>
          <div class="mt-2 flex flex-col gap-3">
            <div
              *ngFor="let column of columnsControl.controls; let i = index"
              class="w-full flex items-center justify-between"
            >
              <!-- Column Input -->
              <div class="w-[90%]">
                <app-input
                  [label]="''"
                  [type]="'text'"
                  [placeholder]="'e.g. Column name'"
                  [control]="getColumnControl(i)"
                  [error]="
                    !!(
                      columnsControl.at(i).invalid &&
                      columnsControl.at(i).touched
                    )
                  "
                ></app-input>
              </div>
              <!-- Remove Column Button -->
              <div class="w-[10%] flex items-center justify-center">
                <img
                  src="assets/icon-cross.svg"
                  alt="icon-cross"
                  class="cursor-pointer"
                  (click)="removeColumn(i)"
                />
              </div>
            </div>
            <!-- Add New Column Button -->
            <div>
              <app-buttonse
                [text]="'Add New Column'"
                [additionalClasses]="''"
                (click)="addColumnForBoard()"
              ></app-buttonse>
            </div>
          </div>
        </div>
        <!-- Submit Button -->
        <div>
          <app-buttonse
            [text]="'Create New Board'"
            [additionalClasses]="'!text-white !bg-main-purple'"
            type="submit"
          ></app-buttonse>
        </div>
      </div>
    </form>
  </app-modal>

  <!-- Modal for edit-board -->
  <app-modal
    [isOpen]="(modalService.modalState$ | async) === 'edit-board'"
    (close)="modalService.closeModal()"
  >
    <form [formGroup]="editBoardForm" (ngSubmit)="onSubmitEditBoard()">
      <div class="flex flex-col gap-6">
        <div>
          <p class="text-heading-l text-black dark:text-white">Edit Board</p>
        </div>
        <!-- Board Name Input -->
        <div>
          <app-input
            [label]="'Board Name'"
            [type]="'text'"
            [placeholder]="'e.g. Project Board'"
            [control]="nameControlForEditBoard"
            [error]="
              !!(
                nameControlForEditBoard.invalid &&
                nameControlForEditBoard.touched
              )
            "
          ></app-input>
        </div>
        <!-- Columns Section -->
        <div>
          <p class="text-body-m text-medium-gray">Columns</p>
          <div class="mt-2 flex flex-col gap-3">
            <div
              class="w-full flex items-center justify-between"
              *ngFor="
                let column of columnsControlForEditBoard.controls;
                let i = index
              "
            >
              <!-- Column Input -->
              <div class="w-[90%]">
                <app-input
                  [type]="'text'"
                  [placeholder]="'e.g. To Do'"
                  [control]="getColumnControlForEditBoard(i)"
                  [error]="
                    !!(
                      getColumnControlForEditBoard(i).invalid &&
                      getColumnControlForEditBoard(i).touched
                    )
                  "
                ></app-input>
              </div>
              <!-- Remove Column Button -->
              <div class="w-[10%] flex items-center justify-center">
                <img
                  src="assets/icon-cross.svg"
                  alt="icon-cross"
                  class="cursor-pointer"
                  (click)="removeColumnForEditBoard(i)"
                />
              </div>
            </div>
            <!-- Add New Column Button -->
            <div>
              <app-buttonse
                [text]="'+ Add New Column'"
                [additionalClasses]="''"
                (click)="addColumnForEditBoard()"
              ></app-buttonse>
            </div>
          </div>
        </div>
        <!-- Save Changes Button -->
        <div>
          <app-buttonse
            [text]="'Save Changes'"
            [additionalClasses]="'!text-white !bg-main-purple'"
            type="submit"
          ></app-buttonse>
        </div>
      </div>
    </form>
  </app-modal>

  <!-- Modal for delete-board -->
  <app-modal
    [isOpen]="(modalService.modalState$ | async) === 'delete-board'"
    (close)="modalService.closeModal()"
  >
    <div class="flex flex-col gap-6">
      <p class="text-heading-l text-red">Delete this board?</p>
      <p class="text-body-l text-medium-gray">
        Are you sure you want to delete the ‘Platform Launch’ board? This action
        will remove all columns and tasks and cannot be reversed.
      </p>
      <div class="flex items-center justify-between w-full">
        <div class="w-[48%]">
          <div (click)="deleteBoard()">
            <app-buttonsde [text]="'Delete'"></app-buttonsde>
          </div>
        </div>
        <div class="w-[48%]">
          <app-buttonse [text]="'Cancel'"></app-buttonse>
        </div>
      </div>
    </div>
  </app-modal>

  <!-- Modal for edit task -->
  <app-modal
    [isOpen]="(modalService.modalState$ | async) === 'edit-task'"
    (close)="modalService.closeModal()"
  >
    <div class="flex flex-col gap-6">
      <div>
        <p class="text-heading-l text-black dark:text-white">Add New Task</p>
      </div>
      <div>
        <app-input
          [label]="'Title'"
          [type]="'text'"
          [placeholder]="'e.g. Take coffee break'"
        ></app-input>
      </div>
      <div>
        <app-input
          [label]="'Description'"
          [type]="'textarea'"
          [placeholder]="
            'e.g. It’s always good to take a break. This 15 minute break will recharge the batteries a little.'
          "
        ></app-input>
      </div>
      <div>
        <p class="text-body-m text-medium-gray">Subtasks</p>
        <div class="mt-2 flex flex-col gap-3">
          <div class="w-full flex items-center justify-between">
            <div class="w-[90%]">
              <app-input-subtask
                [type]="'text'"
                [placeholder]="'e.g. Make coffee'"
              ></app-input-subtask>
            </div>
            <div class="w-[10%] flex items-center justify-center">
              <img
                src="assets/icon-cross.svg"
                alt="icon-cross"
                class="cursor-pointer"
              />
            </div>
          </div>
          <div>
            <app-buttonse
              [text]="'+ Add New Subtask'"
              [additionalClasses]="'!text-white !bg-main-purple'"
            ></app-buttonse>
          </div>
        </div>
      </div>
      <div>
        <app-dropdown [label]="'Status'"></app-dropdown>
      </div>
      <div>
        <app-buttonse
          [text]="'Edit Task'"
          [additionalClasses]="'!text-white !bg-main-purple'"
        ></app-buttonse>
      </div>
    </div>
  </app-modal>

  <!-- Modal for delete-task -->
  <app-modal
    [isOpen]="(modalService.modalState$ | async) === 'delete-task'"
    (close)="modalService.closeModal()"
  >
    <div class="flex flex-col gap-6">
      <p class="text-heading-l text-red">Delete this task?</p>
      <p class="text-body-l text-medium-gray">
        Are you sure you want to delete the ‘Build settings UI’ task and its
        subtasks? This action cannot be reversed.
      </p>
      <div class="flex items-center justify-between w-full">
        <div class="w-[48%]">
          <app-buttonsde [text]="'Delete'"></app-buttonsde>
        </div>
        <div class="w-[48%]">
          <app-buttonse [text]="'Cancel'"></app-buttonse>
        </div>
      </div>
    </div>
  </app-modal>
  <!-- navigation and sidebar for mobile phone -->
  <div
    class="top-0 absolute w-full bg-white dark:bg-dark-gray md:hidden border-b-[1px] border-light-gray border-opacity-10 z-10"
  >
    <app-navigation-phone
      (toggleDropDownBackdrop)="toggleDropDownBackdrop()"
    ></app-navigation-phone>
  </div>

  <!-- navigation and sidebar layout and main for large device -->
  <div class="hidden md:flex">
    <div
      class="h-screen transition-all ease-in-out duration-300 border-r-[1px] border-lines-light dark:border-r-lines-dark border-opacity-10"
      [ngClass]="{
        'md:w-[35%] lg:w-[20.83%]': !layoutSideBarOpen,
        'w-0': layoutSideBarOpen
      }"
    >
      <div *ngIf="!layoutSideBarOpen" class="h-full">
        <app-sidebar-large
          (toggleSideBar)="triggerSideBar()"
        ></app-sidebar-large>
      </div>
    </div>
    <div
      class="h-screen relative"
      [ngClass]="{
        'md:w-[65%] lg:w-[79.17%]': !layoutSideBarOpen,
        'w-[100%]': layoutSideBarOpen
      }"
    >
      <div
        class="top-0 right-0 w-full border-b-[1px] border-light-gray border-opacity-10 z-30"
        [ngClass]="{
          absolute: !layoutSideBarOpen,
          fixed: layoutSideBarOpen
        }"
      >
        <app-navigation-large></app-navigation-large>
      </div>

      <!-- Main content for both large and mobile devices -->
      <div class="w-full h-full pt-[65px] overflow-x-scroll overflow-y-scroll">
        <div class="p-6 pr-6 flex gap-6">
          <!-- Loop through columns$ and pass data to app-column -->
          <ng-container *ngIf="columns$ | async as columns">
            <app-column
              *ngFor="let column of columns"
              [title]="column.name"
              [tasks]="column.tasks"
            ></app-column>
          </ng-container>
          <div (click)="addColumn()">
            <app-addcolumn></app-addcolumn>
          </div>
        </div>
        <!-- <div class="flex flex-col items-center justify-center h-full gap-6">
          <p class="text-center text-black dark:text-white">
            This board is empty. Create a new column to get started.
          </p>
          <app-buttonadd
            [text]="'Add New Column'"
            [additionalClasses]="'!text-white !bg-main-purple'"
          ></app-buttonadd>
        </div> -->
        <!-- hidden button to toggle sidebar -->
        <div
          class="w-14 h-12 bg-main-purple flex items-center justify-center rounded-r-[100px] sticky bottom-[32px] left-0 cursor-pointer z-10"
          (click)="triggerSideBar()"
          *ngIf="layoutSideBarOpen"
        >
          <img src="assets/icon-show-sidebar.svg" alt="icon-show-sidebar" />
        </div>
      </div>
    </div>
  </div>

  <!-- this div should be main for the mobile device -->
  <div
    class="w-full h-full md:hidden overflow-y-scroll overflow-x-scroll relative"
  >
    <div
      class="w-full h-full bg-black opacity-50 absolute z-0"
      *ngIf="backDropFilter"
    ></div>
    <!-- <div class="flex flex-col items-center justify-center h-full gap-6">
      <p class="text-center text-black dark:text-white">
        This board is empty. Create a new column to get started.
      </p>
      <app-buttonadd
        [text]="'Add New Column'"
        [additionalClasses]="'!text-white !bg-main-purple'"
      ></app-buttonadd>
    </div> -->
    <div class="px-6 py-24 flex gap-6">
      <ng-container *ngIf="columns$ | async as columns">
        <app-column
          *ngFor="let column of columns"
          [title]="column.name"
          [tasks]="column.tasks"
        ></app-column>
      </ng-container>
      <app-addcolumn></app-addcolumn>
    </div>
  </div>
</div>
