<div
  class="p-3 w-full bg-light-gray dark:bg-very-dark-grey rounded-[4px] flex items-center hover:bg-main-purple hover:bg-opacity-25 cursor-pointer {{
    additionCss
  }}"
  (click)="toggleCheck()"
>
  <div class="flex items-center gap-4">
    <div
      class="w-4 h-4 bg-white dark:bg-dark-gray border-[2px] border-medium-gray border-opacity-30 flex items-center justify-center rounded-[4px] {{
        isChecked ? 'bg-main-purple' : ''
      }}"
      [ngClass]="{ '!bg-main-purple': isChecked, 'bg-white': !isChecked }"
    >
      <div [ngClass]="{ 'hidden': !isChecked, }">
        <img src="assets/icon-check.svg" alt="icon-check" />
      </div>
    </div>
    <div class="w-[80%]">
      <div>
        <p
          class="text-black dark:text-white text-[14px] font-medium"
          [ngClass]="{ 'line-through': isChecked }"
        >
          {{title}}
        </p>
      </div>
    </div>
  </div>
</div>
