<div
  class="w-full py-8 dark:bg-dark-gray h-full flex flex-col justify-between bg-white"
>
  <div>
    <div class="ml-[34px]">
      <img
        [src]="
          (isDarkMode | async)
            ? 'assets/logo-light.svg'
            : 'assets/logo-dark.svg'
        "
        alt="logo"
      />
    </div>
    <div class="ml-[34px] mt-[54px] mb-[5px]">
      <p class="text-body-m text-medium-gray">ALL BOARDS (3)</p>
    </div>
    <div
      *ngFor="let item of items; let i = index"
      class="w-[90%] px-8 py-[14px] rounded-r-[100px] flex items-center gap-4 cursor-pointer"
      [ngClass]="{
        'bg-main-purple': selectedItemIndex === i,
        'bg-transparent': selectedItemIndex !== i
      }"
      (click)="selectItem(i)"
    >
      <img
        [src]="
          selectedItemIndex === i
            ? 'assets/icon-board-white.svg'
            : i === items.length - 1
            ? 'assets/icon-board-blue.svg'
            : 'assets/icon-board.svg'
        "
        alt="icon-board"
      />
      <p
        class="text-heading-m"
        [ngClass]="{
            'text-body-m !text-main-purple': i === items.length - 1 && selectedItemIndex !== i,
            'text-body-m text-medium-gray': selectedItemIndex !== i,
            'text-body-m !text-white': selectedItemIndex === i,
        }"
      >
        {{ item }}
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <div
      class="w-[80%] bg-light-gray dark:bg-very-dark-grey py-[14px] rounded-md flex items-center justify-center mx-auto"
    >
      <div class="flex items-center gap-[23px]">
        <div>
          <img src="assets/icon-light-theme.svg" alt="icon-light-theme" />
        </div>
        <div
          class="w-10 h-5 rounded-xl bg-main-purple p-[3px] flex items-center cursor-pointer"
          [ngClass]="{
            'justify-end': (isDarkMode | async),
            'justify-start': !(isDarkMode | async)
          }"
          (click)="toggleDarkMode()"
        >
          <div class="w-[14px] h-[14px] bg-white rounded-full"></div>
        </div>
        <div>
          <img src="assets/icon-dark-theme.svg" alt="icon-dark-theme" />
        </div>
      </div>
    </div>
    <div class="w-[80%] mx-auto flex items-center gap-4">
      <img
        [src]="
          (isDarkMode | async)
            ? 'assets/icon-show-sidebar-gray.svg'
            : 'assets/icon-show-sidebar-light.svg'
        "
        alt="show-show"
      />
      <p class="text-heading-m text-medium-gray cursor-pointer" (click)="hideSidebar()">Hide Sidebar</p>
    </div>
  </div>
</div>
