<div class="w-[300px] py-8 dark:bg-very-dark-grey h-full">
  <div>
    <div class="ml-[34px]">
      <img src="assets/logo-dark.svg" alt="logo-dark" />
    </div>
    <div class="ml-[34px] mt-[54px] mb-[5px]">
      <p class="text-body-m text-medium-gray">ALL BOARDS (3)</p>
    </div>
    <div
      *ngFor="let item of items; let i = index"
      class="w-[276px] px-8 py-[14px] rounded-r-[100px] flex items-center gap-4 cursor-pointer"
      [ngClass]="{
        'w-[276px] bg-main-purple': selectedItemIndex === i,
        'bg-transparent': selectedItemIndex !== i
      }"
      (click)="selectItem(i)"
    >
      <img
        [src]="
          selectedItemIndex === i
            ? 'assets/icon-board-white.svg'
            : i === items.length - 1
            ? 'assets/icon-board-blue.svg'
            : 'assets/icon-board.svg'
        "
        alt="icon-board"
      />
      <p
      class="text-heading-m"
        [ngClass]="{
            'text-body-m !text-main-purple': i === items.length - 1 && selectedItemIndex !== i,
            'text-body-m text-medium-gray': selectedItemIndex !== i,
            'text-body-m !text-white': selectedItemIndex === i,
        }"
      >
        {{ item }}
      </p>
    </div>
  </div>
</div>
